@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ad Application</h1>
    <p class="lead">A simple app that follows TDD </p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Simple Ad Application</h2>
        <p>
            This app uses Micorsoft <a href="http://unity.codeplex.com/">Unity</a> for Dependency Injection.  
        </p>

    </div>

</div>